@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior:smooth;
 }
@layer base{
  @font-face {
    font-family: "CabinetGrotesk-Variable";
    src: url("./assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "GeneralSans-Variable";
    src: url("./assets/fonts/GeneralSans-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }


  body{
    @apply bg-[#fafaf9]  tracking-wide
  }


  h1 {
    @apply text-5xl sm:text-5xl md:text-6xl font-dmsans
  }

  h2{
    @apply text-3xl sm:text-4xl md:text-5xl
  }

  li{
    @apply cursor-pointer
  }

  button{
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }

}